{% extends 'Squadfree/index.html' %}
{% block block1 %}
<section id="hero">
    {% if filebool and  entered %}
    <br>
    <br>
<div class="heading" >
  <p style="display:inline;position:relative;left:450px;color:black;text-align:center;font-size:30px;font-weight:bold;text-shadow: 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white, 0 0 80px white;">Your Input Workload file format</p>
    <input type="button" value="Submit Data" class="btn btn-dark" id="clicked" style="display:inline;position:relative;left:620px;top:5px;width:200px;height:40px;font-size:15px;padding:5px" onclick="tryaj()">
    </div>
  
                <div class =scrollit style="margin-right: auto; margin-left: auto;position:relative;width:1450px;height:600px">
                <table class="table table-dark table-hover">
                <thead>
                <tr>
                {% for i in range(file.columns|length) %}
  
                  <th scope="col" style="font-size:10px">{{file.columns[i]}}</th>
                 {% endfor %}
                 <th scope="col"></th>
                </tr>
              </thead>
               <tbody>
  
              {%for i in range(file|length)%}
              <tr >
              {% for j in range(file.iloc[i]|length) %}
              <td class="row_no{{i}}" style="width:200px" >
              {{file.iloc[i,j]}}
              </td>
              {% endfor %}
              <td>
              <input type="button"  value="Edit" id ="edit{{i}}" class="btn btn-primary" style="height:25px;font-size:10px;padding:5px;padding-top:2px;padding-bottom:2px" onclick="edit_row('{{i}}') ">
              <input type="button"  value="Save" id="save{{i}}" class="btn btn-primary" style ="height:25px;font-size:10px;padding:5px;padding-top:2px;padding-bottom:2px" onclick="save_row('{{i}}')">
              </td>
              </tr>
              {% endfor %}
            </tbody>
              </table>
            
            </div>
          </section>
            {% endif %}
      {% if not(entered) and filebool %}
      {% if error %} 
      {% if not(avil) %}
        <h2 style="position:relative;left:50px">No of types of labs in the input file and entered in the form are not matching<br>please go back and reset in the file or form</h2>
        {% else %}
        <h2 style="position:relative;left:50px">No of slots alloted in the file for lab type {{lt}} are more than total lab slots avilable}<br>Please go back and do the needfull changes</h2>
      {% endif %}

      {% endif %}

      <h2  style="position:relative;left:30px;color:black;font-size:45px;font-weight:bold;text-align:center;font-family: cursive;text-shadow: 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white, 0 0 80px white;">You are ready to go just fill the details below..</h2>
      <form action= "{{url_for('index2')}}" method = "POST" enctype = "multipart/form-data" style="background-color: white;position:relative;left:550px;max-width: 500px;overflow: scroll;max-height: 400px;">
        <div style="margin-right:auto;margin-left:auto;align-content: center;">
          <h2 style="position:relative;left:13px;color:black;font-size:15px;font-weight:bold;text-align:center;font-family: cursive;text-shadow: 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white, 0 0 80px white;">Enter no of labs avilable for each lab type!!</h2>
        {% for i in range(tl) %}
       
          <label for="inputlab{{i}}" class="col-sm-2 col-form-label" style="position:relative;left:50px;margin:0 auto;text-align:center;padding-left: 10px;display:inline;font-family: cursive;">Enter no of labs of type {{i}}</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="lab{{i}}" id="inputlab{{i}}" style="position:relative;left:50px;text-align:center; padding-left:10px;width:250px">
          </div>
          <br>
        

        {% endfor %}
        <input type = "submit"  class="btn btn-dark" style="position:relative;left:100px;height:30px;font-size:15px;width:180px">
        <br>
        <br>
        </div>
      </form>
        
        {% endif %}

     {% if not(filebool) %}
     
    
      <div class="hero-container" data-aos="fade-up">
        <h1 style="color:black;text-shadow: 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white, 0 0 80px white;">Welcome to Greenviz Automatic timetable generator</h1>
        <h2 style="color:black;text-shadow: 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white, 0 0 80px white;">Start generating automated timetable for your organization</h2>
        <a href="#about" class="btn-get-started scrollto" style="color:black" ><i class="bx bx-chevrons-down"></i>GO!</a>
      </div>
    </section><!-- End Hero -->
  
    <main id="main">
  
      <!-- ======= About Section ======= -->
      
      <section id="about" class="about" style="height:800px">
        
       
        <h2  style="position:relative;left:30px;color:black;font-size:45px;font-weight:bold;text-align:center;font-family: cursive;text-shadow: 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white, 0 0 80px white;"> UPLOAD INPUT WORKLOAD FILE</h2>
        <div class="container" style="position:absolute;left:20px">
          
          <div class="card mb-3" style="height:350px;width:800px;position:absolute;left:350px;transition-delay: 3s">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{url_for('static',filename='card2.jpg')}}" alt="..." style="height:350px;max-width:300px">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <form action = "{{url_for('index1')}}" method = "POST" enctype = "multipart/form-data">
                 <div class="input-group mb-3">
                  <input type="file" class="form-control" name="myfile" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload" style="position:relative;left:60px;top:40px; max-width:400px;height:50px" required>
                </div>
                <div class="col-md-4" style="position:relative;left:60px;top:40px">
                  <label for="validationCustom01" class="form-label">Eneter no of college hours</label>
                  <input type="text" class="form-control" id="validationCustom01"  required name="totalhrs">
                  <label for="validationCustom02" class="form-label">Enter no of types of labs</label>
                  <input type="text" class="form-control" id="validationCustom02"   required name="labtypes">
                </div>
                 <input type = "submit"  class="btn btn-dark" style="display:inline;position:relative;left:260px;height:50px;font-size:20px;width:200px">
                </form>
                <br>
                <br>
                <button type="button" class="collapsible" style="position:relative;left:50px;max-width:400px">Click here to see some key points beofore uploading</button>
                  <div class="content">
                    <p >Make sure that all the column names are specific and are same as the sample input format<br><br>All the lab hours by default are paritioned as 2 slots together  in one session<br><br>Any manual fixxing befroe generating the timetable can be done in fixing slots setion</p>
                  </div>  
          </div>
        </div>
        </div>
        <h2 style="text-shadow: 0 0 20px white, 0 0 30px #ffffff, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white, 0 0 80px white;padding-top:70px;font-size:30px;color:black;font-weight:bold;margin: auto;">Click here to download Sample Input file format</h2>
        <a id="down" class="btn btn-dark" style="height:50px;font-size:20px;width:200px;margin: auto;" href="{{url_for('samplefile')}}">Download</a>
        <h2 style="text-align:center;text-shadow: 0 0 20px white, 0 0 30px #ffffff, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white, 0 0 80px white;font-size:15px;color:black;font-weight:bold;margin: auto">Note:Columns named lab_availability,x component and labtype are optional and please do not refresh the site in the middle anywhere</h2>

        {% endif %}
            
      </section><!-- End About Section -->
    {% endblock %}